/* .button-25:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset,
      rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: 0.15s, 0.15s;
    background-color: aliceblue;
    color: black;
  }
  
  .button-25:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  .button-25 {
    background-color: #ed6626;
   
    border: 1px solid #ed6626;;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: white;
    cursor: pointer;
    display: block;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue",
      Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
   


  @keyframes animdiv {
    0% {
      left: 0px;
      top: 0px;
    }
    25% {
      left: 30px;
      top: 0px;
    }
    50% {
      left: 30px;
      top: 0px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }
  
  .group_img {
    position: relative;
    animation: animdiv 7s infinite;
  }
  

  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    

  }

  


.our-team{
  text-align: center;
  margin-bottom: 100px;
  z-index: 1;
  position: relative;
}
.our-team .pic{
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.our-team .pic:after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease 0s;
}
.our-team:hover .pic:after{ opacity: 1; }
.our-team .pic img{
  width: 100%;
  height: auto;
}
.our-team .social{
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 1;
  transition: all 0.5s ease 0s;
}
.our-team:hover .social{ opacity: 1; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 15px;
  color: #fff;
  margin-right: 10px;
  transition: all 0.5s ease 0s;
}
.our-team .social li a:hover{
  background: #fff;
  color: #000;
}
.our-team .team-content{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px dotted #ddd;
  position: absolute;
  bottom: -70px;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease 0s;
}
.our-team:hover .team-content{ border: 2px dotted #00adae; }
.our-team .team-info{
  width: 100%;
  color: #464646;
  position: absolute;
  bottom: 12px;
  left: 0;
}
.our-team .title{
  font-size: 20px;
  font-weight: 600;
  color: #464646;
  margin: 0 0 5px 0;
  transition: all 0.5s ease 0s;
}
.our-team:hover .title{ color: #00adae; }
.our-team .post{
  display: block;
  font-size: 14px;
  color: #464646;
} */

figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
figure > * {
  grid-area: 1/1;
  transition: .4s;
}
figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: .75rem;
  background: var(--c,#0009);
  clip-path: inset(0 var(--_i,100%) 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
figure:hover figcaption{
  --_i: 0%;
}
figure:hover .img_cards {
  transform: scale(1.2);
  padding-right: 10px;
}
@supports not (-webkit-mask-clip: text) {
  figure figcaption {
   -webkit-mask: none;
   color: #fff;
  }
}

/* body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  background: #425a52;
} */

.img_cards{
  /* paddingRight:"10px", */
  padding: .75rem;
}
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #3373a9;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #3373a9;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #3373a9;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.wave {
  height: 40px;
  width: 100%;
  background-image: url('https://assets.entrepreneur.com/content/3x2/2000/20190620104308-Examples-of-Business-Consultancy-Business-Ideas-Bigstock-4000pxW-X-2670pxH-copy.jpeg');
  transform: scale(1, 1);
}

.wave:before {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-image: url('https://assets.entrepreneur.com/content/3x2/2000/20190620104308-Examples-of-Business-Consultancy-Business-Ideas-Bigstock-4000pxW-X-2670pxH-copy.jpeg');
  right: -25%;
  top: 20px;
}

.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-image: url('https://assets.entrepreneur.com/content/3x2/2000/20190620104308-Examples-of-Business-Consultancy-Business-Ideas-Bigstock-4000pxW-X-2670pxH-copy.jpeg');
  left: -25%;
  top: -240px;
  clip-path: ellipse(100% 15% at -15% 100%);
}

.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: radial-gradient(circle closest-side,#000 94%,#0000) left/20% 100%;
  background: linear-gradient(#000 0 0) left/0% 100% no-repeat #ddd;
  animation: l17 2s infinite steps(6);
}
@keyframes l17 {
    100% {background-size:120% 100%}
}



.loader2 {
  height: 2px;
  width: 270px;
  --c:no-repeat linear-gradient(white 0 0);
  background: var(--c),var(--c),#3373a9;
  background-size: 60% 100%;
  animation: l16 10s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}


.loader3 {
  --s: 40px;
  height: calc(var(--s)*0.9);
  width: calc(var(--s)*5);
 --v1:transparent,#000 0.5deg 108deg,#0000 109deg;
 --v2:transparent,#000 0.5deg  36deg,#0000  37deg;
 -webkit-mask:
   conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
   conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
   conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
   conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
 -webkit-mask-size: var(--s) var(--s);
 -webkit-mask-composite: xor,destination-over;
         mask-composite: exclude,add;
 -webkit-mask-repeat:repeat-x;
 background:linear-gradient(black 0 0) left/0% 100% #ddd no-repeat;
 animation: l20 2s infinite linear;
}
@keyframes l20 {
   90%,100% {background-size:100% 100%}
}