.images_1 {
    height: 230px;
    padding-top: 20px;
    width: 250px;
    padding: 10px;
    
    
  }
  .images_1:hover {
    padding-left: 20px;
    height: 230px;
    padding-top: 20px;
    width: 250px;
    padding: 10px;
    border-radius: 50%;
  }