.hrOpenings{
    -webkit-animation: hrAnime 6s infinite;
    animation: hrAnime 6s infinite;
    background-color: #ff961d;
    height: 2px;
    margin-bottom: 20px;
    width: 100%;
}
@keyframes hrAnime {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  .ResumeMain .share {
    font-size: 24px;
    color: black;
  }
  .ResumeMain .team {
    color: black;
    font-size: 25px;
  }
  .ResumeMain .team1 {
    color:black ;
    font-size: 17px;
  }