.images_1 {
    /* padding-left: 100px; */
    /* margin-left: 40px; */
    margin-right: 20px;
    margin-top: 30px;
    /* padding-left: 20px; */
    height: 230px;
    padding-top: 20px;
    width: 250px;
    padding: 10px;
    border-radius: 10%;
    
    
  }
  .images_1:hover {
    padding-left: 20px;
    height: 230px;
    padding-top: 20px;
    width: 250px;
    padding: 10px;
    border-radius: 50%;
  }
  