* {
  margin: 0;
  padding: 0;
}

.navbar_middle {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.Navbar_last {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
}

.navbar-brand {
  color: #333333;
  font-size: 16px;
  padding: 26px 35px;
  /* style={{color:"#333333",padding:"25px 35px"}} */
}
.navbar-brand1 {
  color: black;
  display: flex;
  justify-content: center;
}

.navbar-brand3 {
  color: #333333;
  font-size: 15px;
  padding: 26px 35px;
}

.navbar-brand:hover {
  color: rgb(107, 94, 94);
  /* text-decoration: underline; */
}

.navbar-brand3:hover {
  color:gray;
  text-decoration: underline;
}

.icons_mui {
  color: #6f6767;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding-left: 10px; */
  /* margin: 0px; */
}

.button-6 {
  align-items: center;
  /* background-color: #FFFFFF; */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  /* border-radius: .25rem; */
  /* box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0; */
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  /* box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px; */
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;

  
}



